<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-PnFXllbJbRcBV5Cy-m00dOiMtSqLNps</string>
	<key>GCM_SENDER_ID</key>
	<string>171734850253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.licenseProject</string>
	<key>PROJECT_ID</key>
	<string>yourcity-1bfd8</string>
	<key>STORAGE_BUCKET</key>
	<string>yourcity-1bfd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171734850253:ios:27c4f230151aa9a24d2784</string>
</dict>
</plist>